$colors: (
  neutral: (
    700: hsl(212, 27%, 19%),
    600: hsl(213, 9%, 39%),
    500: hsl(232, 10%, 55%),
    400: hsl(210, 4%, 67%),
    300: hsl(0, 0%, 100%),
    250: hsl(0, 0%, 100%, 0.3),
  ),
  primary: (
    700: hsl(168, 34%, 41%),
    650: rgb(16, 175, 243, 0.8),
    600: hsl(198, 62%, 26%),
    500: hsl(167, 40%, 24%),
    400: hsl(51, 100%, 49%),
    350: hsl(51, 100%, 49%, 0.5),
    300: hsl(7, 99%, 70%),
    250: hsla(7, 99%, 70%, 0.5),
  ),
);
$font-size: (
  small: (
    h1: 2.5rem,
    h2: 2rem,
    h3: 2rem,
    h4: 2rem,
    h5: 2rem,
    h6: 0.8rem,
    p: 1rem,
    span: 1.1rem,
    strong: 1.3rem,
    small: 1rem,
  ),
  xl: (
    h1: 4.5rem,
    h2: 3.5rem,
    h3: 3rem,
    h4: 2.5rem,
    h5: 2.5rem,
    h6: 2rem,
    p: 1.3rem,
    span: 1.2rem,
  ),
);

$font-weight: (
  primary: (
    600: 600,
  ),
  accent: (
    900: 900,
    700: 700,
  ),
);
