@use "../abstracts/functions" as f;
@use "../components/media" as m;
.projects {
  text-align: center;
  padding-top: Clamp(0.3em, 2.5vw, 5em);
  h6 {
    color: f.color(neutral, 400);
    padding-block: 3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: f.weight(accent, 900);
  }

  &__testimonials {
    display: grid;
    grid-auto-flow: row;
    gap: 4em;

    &--card {
      &-message {
        padding: 2.5em;
        color: f.color(neutral, 600);
      }
      &-name {
        color: f.color(neutral, 700);
        font-weight: f.weight(accent, 900);
      }

      &-image {
        img {
          width: 70px;
          border-radius: 75px;
          margin-inline: auto;
        }
      }
      &-nameholder {
        display: flex;
        flex-direction: column;

        small {
          color: f.color(neutral, 500);
        }
      }
    }
    @include m.breakpoint(medium) {
      grid-auto-flow: column;
      gap: 1;
      &--card {
        &-message {
          padding-inline: unset;
        }
      }
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6em;
    &--list {
      &-image-1 {
        content: url("../images/mobile/image-gallery-milkbottles.jpg");
      }
      &-image-2 {
        content: url("../images/mobile/image-gallery-orange.jpg");
      }
      &-image-3 {
        content: url("../images/mobile/image-gallery-cone.jpg");
      }
      &-image-4 {
        content: url("../images/mobile/image-gallery-sugar-cubes.jpg");
      }
    }

    @include m.breakpoint(medium) {
      grid-template-columns: repeat(4, 1fr);

      &--list {
        &-image-1 {
          content: url("../images/desktop/image-gallery-milkbottles.jpg");
        }
        &-image-2 {
          content: url("../images/desktop/image-gallery-orange.jpg");
        }
        &-image-3 {
          content: url("../images/desktop/image-gallery-cone.jpg");
        }
        &-image-4 {
          content: url("../images/desktop/image-gallery-sugarcubes.jpg");
        }
      }
    }
  }
}
